/*Made by Hackz1 any attempt to copy or reproduce this website is illegal*/
body {
    font-family: 'Mukta', sans-serif;
    margin: none;
}

h1 {
    color: #F9F9F9;
}

h2 {
    color: #F9F9F9;
}

p {
    font-family: 'Mukta', sans-serif;
    color: #DADADA;
}

footer {
    background-color: #1F1D1D;
    padding: 25px;
    color: #C6C6C6;
    bottom: 0px;
}
/*Made by Hackz1 any attempt to copy or reproduce this website is illegal*/